<div class="row">
    <div class="col-xs-12">
        <img
            [src]="chosenRecipe.imagePath"
            alt=""
            class="img-responsive"
        >
    </div>
</div>
<div
    class="row"
    appDropdown
>
    <div class="col-xs-12">
        <h2>{{chosenRecipe.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div
            class="btn-group"
            appDropdown
        >
            <button
                type="button"
                class="btn btn-primary dropdown-toggle"
            >
                Manage Recipe
                <span class="caret">
                </span>
            </button>
            <ul class="dropdown-menu">
                <li><a
                        style="cursor:pointer"
                        (click)="addIngredientsToShoppingList()"
                    >To shopping list</a></li>
                <li><a
                        style="cursor:pointer"
                        (click)="onEditRecipe()"
                    >Edit Recipe</a></li>
                <li><a style="cursor:pointer">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h5>{{chosenRecipe.description}}</h5>
    </div>

</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li
                class='list-group-item'
                *ngFor="let ingredient of chosenRecipe.ingredients"
            >
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>